@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    *{
        padding: 0;
        margin: 0;
        outline: 0;
        box-sizing: border-box;
    }
    ul,ol,li{
        list-style: none;
    }
    a{
        display: inline-block;
        text-decoration: none;
    }
    h1,h2,h3,h4,h5,h6,div,a,ul,ol,li,span,p,img,button{
        margin: 0;
        padding: 0;
    }
}